premios {
  .row {
    @extend .fbebas;
    background-color: $color-turquesa;
    h1 {
      @include fluid-type($min_width, $max_width, 68px, 122px);
      color: white;
      span {
      @include fluid-type($min_width, $max_width, 68px, 102px);
        color: $color-rojo;
      }
    }
    h3 {
      color: #606060;
      @include fluid-type($min_width, $max_width, 28px, 37px);
    }
  }
}
