premios {
  .row {
    @extend .fbebas;
    background-color: $color-turquesa;
    h1 {
      @include fluid-type($min_width, $max_width, 58px, 92px);
      color: white;
      span {
        @include fluid-type($min_width, $max_width, 58px, 82px);
        color: $color-rojo;
      }
    }
    h3 {
      color: #606060;
      @include fluid-type($min_width, $max_width, 25px, 33px);
    }
    @media (min-width:769px) and (max-width:993px) {
      .img-768 {
        position: absolute;
        bottom: 0;
      }
      .img-r {
        right: 0;
      }
    }
  }
}
