<div class="container-fluid">
  <div class="row">

    <div class="container">

      <div class="row pad">
        <div class="col-xs-3" align="left">
          <img src="assets/images/footerimg.png" class="img-responsive">
        </div>
        <div class="col-xs-9 col-sm-4 col-md-3 pull-right text-right vertical-center-alt">
          <ul class="faico clear ntop">
            <li><a class="social faicon-facebook" href="https://www.facebook.com/AzucarSanCarlos"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
            <li><a class="social faicon-instagram" href="https://www.instagram.com/azucarsancarlos/"><i class="fa fa-instagram fa-lg"></i></a></li>
            <li><a class="social faicon-youtube" href="https://www.youtube.com/user/AzucarSanCarlos"><i class="fa fa-youtube-play fa-lg"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


</div>
