$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
$color-turquesa: #00d0d2;
$color-rojo: #e24650;
$color-amarillo: #ffc801;
$color-verde: #63ad9c;
$min_width: 320px;
$max_width: 1200px;
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/* 
 * mixins and functions 
 */

@function strip-unit($value) {
  @return $value / ($value * 0+1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);
  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;
      line-height: $min-font-size*0.9;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})* 0.9);
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
        line-height: $max-font-size*0.9;
      }
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  >.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


/**
 * App-wide Styles
 */

.row {
  position: relative;
}

.vertical-center {
  position: relative;
  right: 0em;
  transform: translateY(0%);
  top: 0%;
}

.vertical-center-alt{
  position: absolute;
    right: 1em;
    transform: translateY(-50%);
    top: 50%;
}

.img-center {
  margin: 0 auto;
}

.yt {
  text-align: center;
  padding: 0;
  iframe {
    width: 100%;
    height: 56.25vw;
  }
}

.yt-cnt {
  @extend .yt;
  @include aspect-ratio(16, 9);
  iframe {
    height: 100%;
  }
}

@media(min-width:767px) {
  .vertical-center {
    position: absolute;
    right: 1em;
    transform: translateY(-50%);
    top: 50%;
  }
}

.back-turquesa {
  background: $color-turquesa;
  color: white;
  font-family: bebas_neueregular;
}

.back-rojo {
  background: $color-rojo;
  color: white;
  font-family: bebas_neueregular;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* 
 * Fonts 
 */

@font-face {
  font-family: 'Avenir-Black';
  src: url('../assets/fonts/sc-dd/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/sc-dd/Avenir-Black.woff') format('woff'), url('../assets/fonts/sc-dd/Avenir-Black.ttf') format('truetype'), url('../assets/fonts/sc-dd/Avenir-Black.svg#Avenir-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url('../assets/fonts/sc-dd/bebasneue-webfont.woff2') format('woff2'), url('../assets/fonts/sc-dd/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dk_colporteur_fatregular';
  src: url('../assets/fonts/sc-dd/dk_colporteur_fat-webfont.woff2') format('woff2'), url('../assets/fonts/sc-dd/dk_colporteur_fat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.favenir {
  font-family: 'Avenir-Black';
}

.fbebas {
  font-family: bebas_neueregular;
}


/* 
 * Social icons 
 */

.faico {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faico li {
  display: inline-block;
  margin: 20px 2px 0 0;
  padding: 0;
  line-height: normal;
}

.faico li:last-child {
  margin-right: 0;
}

.faico a {
  display: inline-block;
  padding: 0 .3em;
  text-align: center;
}

.faico a {
  color: #1C7AA8;
}

// Component styles are injected through gulp

/* inject:scss */

@import 'admin/admin';
@import 'bases/bases';
@import 'galeria/galeria';
@import 'ganar/ganar';
@import 'main/main';
@import 'premios/premios';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';

/* endinject */
