.navbar-default {
  border-color: transparent;
  background-color: transparent;
  .navbar-toggle .icon-bar {
    width: 28px;
    background-color: rgba(228, 70, 80, 0.6);
    transition: .5s ease;
  }
  .navbar-toggle.collapsed .icon-bar:nth-child(2) {
    transform: rotate(0)translateY(0)translateX(0);
  }
  .navbar-toggle.collapsed .icon-bar:nth-child(3) {
    opacity: 1
  }
  .navbar-toggle.collapsed .icon-bar:nth-child(4) {
    transform: rotate(0)translateY(0)translateX(0);
  }
  .navbar-toggle .icon-bar:nth-child(2) {
    transform: rotate(-45deg)translateY(5px)translateX(-5px);
  }
  .navbar-toggle .icon-bar:nth-child(3) {
    opacity: 0
  }
  .navbar-toggle .icon-bar:nth-child(4) {
    transform: rotate(45deg)translateY(-4px)translateX(-3px);
  }
  .navbar-toggle {
    position: absolute;
    right: 0;
    border-color: transparent;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .navbar-collapse {
    border: none;
  }
  .navbar-nav>li>a {
    color: $color-verde;
    @include fluid-type($min_width, $max_width, 18px, 32px);
  }
  .navbar-nav>.active>a,
  .navbar-nav>.active>a:focus,
  .navbar-nav>.active>a:hover {
    color: rgba(228, 70, 80, 0.6);
    background-color: white;
  }
  .navbar-brand {
    height: initial;
    width: 100%;
    padding-top: 4rem;
    img {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}

.img-headerSanCarlos {
  max-width: 6rem;
}

.sizeIndex {
  font-size: 45px;
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
  transform: rotate(0)translateY(0)translateX(0);
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
  opacity: 1
}

.navbar-toggle.collapsed .icon-bar:nth-child(4) {
  transform: rotate(0)translateY(0)translateX(0);
}

.navbar-toggle .icon-bar:nth-child(2) {
  transform: rotate(-45deg)translateY(5px)translateX(-5px);
}

.navbar-toggle .icon-bar:nth-child(3) {
  opacity: 0
}

.ntop {
  .social {
    .fa {
      color: #DF464F;
    }
  }
}

.navbar-collapse {
  border: none;
}

.navbar-nav>li>a {
  color: $color-verde;
}

.navColor {
  background: rgba(228, 70, 80, 0.6);
}

.navbar-default .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navMobil {
  display: block;
  background: transparent;
  color: white;
  text-align: center;
}

.mainav {
  display: none;
}

nav .navbar-nav {
  display: flex;
  margin-bottom: 128px;
  flex-direction: column;
  justify-content: center;
}

nav .navbar-nav li {
  width: 100%;
  margin: .3rem 0;
}

nav .navbar-nav li a {
  text-transform: uppercase;
}

.navColor {
  background: rgba(255, 3, 3, 0.7);
}

@media (min-width: 768px) {
  .navbar-centered .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-centered .navbar-nav>li {
    float: none;
  }
  .navbar-centered .nav>li {
    display: inline;
  }
  .navbar-centered .nav>li>a {
    display: inline-block;
  }
}
