.navbar-toggle .icon-bar { width: 28px; background: #fff;transition: .5s ease;}
.navbar-toggle.collapsed .icon-bar:nth-child(2){transform: rotate(0)translateY(0)translateX(0);}
.navbar-toggle.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggle.collapsed .icon-bar:nth-child(4){transform:rotate(0)translateY(0)translateX(0);}
.navbar-toggle .icon-bar:nth-child(2){transform: rotate(-45deg)translateY(5px)translateX(-5px);}
.navbar-toggle .icon-bar:nth-child(3){opacity: 0}
.navbar-toggle .icon-bar:nth-child(4){transform:rotate(45deg)translateY(-4px)translateX(-3px);}


.sizeIndex {
  font-size: 45px;
}

.sizeRule {
  font-size: 25px;
}

.sizeMenu {
  font-size: 35px;
}

.navbar-brand {
  img {
    margin: 0 auto;
  }
  padding-top: 2em;
  height: initial;
  width: 100%;
}

.listFooter {
  margin-right: 25px;
}

.navMobil {
  display: none;
  height: 110px;
}

.social {
  color: #DF464F;
}

.navbar-toggle {
  position: absolute;
  right: 0;
}

.img-headerSanCarlos {
  padding: 0 0.3em 0.3em 0.3em;
}

.navbar-default {
  border-color: transparent;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(228, 70, 80, 0.6);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border: none;
}

.navColor {
  background: rgba(228, 70, 80, 0.6);
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: rgba(228, 70, 80, 0.6);
  background-color: white;
}

.navMobil {
  display: block;
  background: transparent;
  color: white;
  text-align: center;
}

.mainav {
  display: none;
}

.navbar-collapse.navbar-ex1-collapse.navColor.collapse {
  position: absolute;
  z-index: 10;
  top: 128px;
  width: 100%;
  padding: 1.8rem 0;
}

nav .navbar-nav {
  display: flex;
  margin-bottom: 128px;
  flex-direction: column;
  justify-content: center;
}

nav .navbar-nav li {
  width: 100%;
  margin: .3rem 0;
}

nav .navbar-nav li a {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.navColor {
  background: rgba(255, 3, 3, 0.7) ;
}

@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }

}