.thing-form {
  margin: 20px 0;
}

.main_h2 {
  text-align: center;
  font-size: 5em;
}

.main-h1 {
  text-align: center;
  font-size: 6em;
}

.vertical-center {
  text-align: center;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.faico a {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

.boton-galeria {
  background: $color-amarillo;
  color: $color-rojo;
  font-family: bebas_neueregular!important;
  padding-top: 10px;
  font-size: 2.3em;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  border-radius: 50000px;
  border-color: transparent;
}

.white {
  color: #fff;
}

.social {
  background-color: transparent !important;
}

.navbar-text {
  margin-left: 15px;
}

@media(min-width:576px) {
  .main_h2 {
    text-align: center;
    font-size: 3rem;
  }
  .main-h1 {
    text-align: center;
    font-size: 5rem;
  }
}

@media(min-width:768px) {
  .main_h2 {
    text-align: center;
    font-size: 3rem;
  }
  .main-h1 {
    text-align: center;
    font-size: 5rem;
  }
}
